.navbarContainer {
  text-transform: uppercase;
  font-weight: 300;
  .navbarCollapse {
    .navItems {
      a {
        color: black !important;
        text-decoration: none !important;
      }
    }
  }
}

.topNavContainer {
  a {
    text-decoration: none !important;
    color: #6c757d !important;
    font-weight: 3;
    &:hover {
      text-decoration: underline;
    }
  }
  .leftSide {}
  .rightSide {}
}


@media (max-width: 767px) {
  .navbarContainer {
    .brandContainer {
      text-align: left;
    }
    .navbarCollapse {
      .navItems {
        a {
          padding: 10px 5px;
        }
      }
    }
    .toggleDropdownContainer {}
  }
  .topNavContainer {
    .leftSide {
      justify-content: center;
    }
    .rightSide {
      justify-content: center;
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .topNavContainer {
    text-align: center;
    .leftSide {}
    .rightSide {}
  }
  .navbarContainer {
    .navbarCollapse {
      .navItems {
        .navLink {}
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbarContainer {
    .navbarCollapse {
      .navItems {
        .navLink {
          font-size: 0.8rem;
        }
      }
    }
  }
}



@media (min-width: 768px) {
  .topNavContainer {
    .leftSide {
      justify-content: start;
    }
    .rightSide {
      justify-content: end;
    }
  }
  .navbarContainer {
    padding: 3%;
    .navbarCollapse {
      .navItems {
        a {
          padding: 10px;
        }
      }
    }
  }
}