.productCardContainer {
  .badgeContainer {
    .badge {
      padding: 5px 10px;
    }
  }

  .productCard {
    border: none;
    margin-top: -10px;
    z-index: -99999;
  }

  .addToCartBtnWrapper {
    position: relative;
    text-align: center;
  }

  .salePrice {
    margin-left: 0.75rem;
    text-decoration: line-through;
  }
}


// mobile
@media (max-width: 767px) {
  .productCard {
    .cardBody {
      .cardTitle, .cardSubtitle {
        font-size: 0.75rem;
      }
    }
  }
  .addToCartBtnWrapper {
    top: 225px;
    .addToCartBtn {
      font-size: 10px;
    }
    .quickView {
     font-size: 10px;
    }
  }
}

// tablet / small desktop
@media (min-width: 768px) and (max-width: 991px) {
  .productCard {
    .cardBody {
      .cardTitle, .cardSubtitle {
        font-size: 0.8rem;
      }
    }
  }
  .addToCartBtnWrapper {
    top: 420px;
  }
}

// medium desktop
@media (min-width: 991px) and (max-width: 1199px) {
  .productCard {
    .cardBody {
      .cardTitle, .cardSubtitle {
        font-size: 0.8rem;
      }
    }
  }
  .addToCartBtnWrapper {
    top: 280px;
  }
}

// large desktop
@media (min-width: 1200px) {
  .productCard {
    .cardBody {
      .cardTitle, .cardSubtitle {
        font-size: 0.9rem;
      }
    }
  }
  .addToCartBtnWrapper {
    top: 330px;
  }
}