.productCardContainer {
  .badgeContainer {
    .badge {
      padding: 5px 10px;
    }
  }

  .productCard {
    border: none;
    margin-top: -10px;
    z-index: -99999;
  }

  .addToCartBtnWrapper {
    text-align: center;
    margin-top: -120px;
    margin-bottom: 90px;
    .addToCartBtn {
      width: 92%;
    }
  }

  .salePrice {
    margin-left: 0.75rem;
    text-decoration: line-through;
  }
}


// mobile
@media (max-width: 767px) {
  .productCard {
  }
  .addToCartBtnWrapper {
  }
}

// tablet / small desktop
@media (min-width: 768px) and (max-width: 991px) {
  .productCard {
    // background-color: var(--blue);
  }
  .addToCartBtnWrapper {
  }
}

// medium desktop
@media (min-width: 991px) and (max-width: 1199px) {
  .productCard {
  }
  .addToCartBtnWrapper {
    // opacity: 0;
  }
}

// large desktop
@media (min-width: 1200px) {
  .productCard {
  }
  .addToCartBtnWrapper {
  }
  .quickView {
    margin-top: 80px;
  }
}