.productCardContainer {
  margin-top: 1rem;
  .badgeContainer {
    .badge {
      padding: 5px 10px;
    }
  }

  .productCard {
    border: none;
    margin-top: -10px;
    z-index: -99999;
  }
  .productCardMargin {
    margin-top: 31px;
  }

  .addToCartBtnWrapper {
    text-align: center;
    .shoppingCartIcon {
      color: white !important;
    }
    .addToCartBtn,
    .quickView {
      font-size: 14px;
      display: inline;
      width: 50px;
    }
  }

  .salePrice {
    margin-left: 0.75rem;
    text-decoration: line-through;
  }
}


// mobile
@media (max-width: 767px) {
  .productCard {
    .cardBody {
      text-align: center;
      .cardTitle, 
      .cardBrand,
      .cardSubtitle {
        font-size: 0.75rem;
      }
      .cardTitle {
        height: 30px;
      }
    }
  }
  .addToCartBtnWrapper {
    // bottom: 80px;
  }
}

// tablet / small desktop
@media (min-width: 768px) and (max-width: 991px) {
  .productCard {
    .cardBody {
      text-align: center;
      .cardTitle, 
      .cardBrand, 
      .cardSubtitle {
        font-size: 0.8rem;
      }
    }
  }
  .addToCartBtnWrapper {
    // bottom: 90px;
  }
}

// medium desktop
@media (min-width: 991px) and (max-width: 1199px) {
  .productCard {
    .cardBody {
      text-align: center;
      .cardTitle, 
      .cardBrand,
      .cardSubtitle {
        font-size: 0.8rem;
      }
    }
  }
  .addToCartBtnWrapper {
    bottom: 150px;
  }
}

// large desktop
@media (min-width: 1200px) {
  .productCard {
    .cardBody {
      .cardTitle, 
      .cardBrand,
      .cardSubtitle {
        font-size: 0.9rem;
      }
    }
  }
  .addToCartBtnWrapper {
    margin-top: -150px;
    margin-bottom: 120px;
  }
}