.title {
  font-weight: 100 !important;
  text-align: left;
  .product {
    font-weight: 400 !important;
  }
}

.productDescription {
  color: #6c757d!important;
  text-align: left;
  font-weight: 300;
}