.categoryCard {
  height: 100%;
}


.pink {
  background-color: #f1d1d0 !important;
}
.teal {
  background-color: #c7ffd8;
}
.green {
  background-color: #6ddccf;
}
.purple {
  background-color: #a7c5eb;
}
.yellow {
  background-color: #ffefa1;
}