.title {
  font-weight: 100 !important;
  text-align: left;
  .product {
    font-weight: 400 !important;
  }
}
.productDescriptionContainer {
  text-align: left;
  .productDescription {
    color: #6c757d!important;
    font-weight: 300 !important;
  }
  a {
    color: black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.productGraphicLarge {
  background-repeat: no-repeat;
  background-size: cover;
  .cardBody {
    position: absolute;
    bottom: 20px;
  }
  .cardBodyFullWidth {
    text-align: right;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .productGraphicLarge {
    height: 250px;
    .cardBodyFullWidth {
      bottom: 10px;
      right: 10px;
    }
  }
  .productGraphic {
    .title {
      text-align: center;
    }
    .productDescriptionContainer {
    text-align: center;
    }
    .imgContainer {
      margin-top: 50px;
    }
  }
}

@media (min-width: 768px) {
  .productGraphic {
    height: 250px;
    .imgContainer {
      margin-top: -2%;
    }
  }
  .productGraphicLarge {
    height: 550px;
    .cardBodyFullWidth {
      bottom: 10px;
      right: 30px;
    }
  }
}