@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_root.scss";

a {
  color: black !important;
  text-decoration: underline !important;
}
.nav-item {
  .dropdown-menu {
  }
}

* {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .d-xs-none {
    display: none !important;
  }
}