@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/_root.scss";

a {
  color: black;
  text-decoration: underline;
}
.nav-item {
  .dropdown-menu {
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: 300;
// }

* {
  box-sizing: border-box;
}
.line-through {
  text-decoration: line-through;
}

@media (max-width: 767px) {
  .d-xs-none {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}